$main_accent1: #ffc593;
$main_accent2: #bc7198;
$main_accent3: #5a77ff;

$black: #000000;
$gray: #dfdfdf;
$white: #ffffff;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.isMobileMenuActive {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

h1,
h2,
h3,
h4 {
  color: $black;
}

h1,
h2.large {
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 15px;
}

button {
  width: auto;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  &hover {
    text-decoration: underline;
  }
  cursor: pointer;
}

button.square_btn {
  background: $black;
  color: white;
  width: 80%;
  padding: 10px 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  &:visited {
    color: $black;
  }
}
