@import "/src/app/styles/variables";
.header {
  z-index: 99999;
}

.header_navigation {
  background: $white;
}
.header_navigation__logo {
  height: 72px;
  padding-inline: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.header_navigation__links,
.header_navigation__button {
  display: none;
}

.header_navigation__mobile_content {
  background: $white;
  position: absolute;
  padding: 5% 0;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: 203px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & ul {
    margin: 0;
  }
  & hr {
    width: 80%;
    background-color: #979797;
    border: none;
    height: 1px;
    margin: 20px 0;
  }
  &ul {
    width: 100%;
    height: 100%;
  }
  &li {
    margin: 10px;
  }
  & a {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.5px;
    padding: 20px 0;
  }
  & button {
    height: 48px;
    letter-spacing: 2.5px;
  }
}

@media screen and (min-width: 768px) {
  .header_navigation__mobile_content,
  .header_navigation__mobile_menu {
    display: none;
  }
  .header_navigation__links,
  .header_navigation__button {
    display: block;
  }
  .header_navigation__logo {
    padding: 0;
  }
  .header_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
  }
  .header_navigation__link {
    display: inline;
    letter-spacing: 2px;
    margin-inline: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .header_navigation__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 220px;
    max-height: 40px;
    & button {
      letter-spacing: 2.5px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header_navigation {
    padding-inline: 100px;
  }
}

/* ********** HEROBANNER ********** */
.header_herobanner__picture {
  width: 100%;
  min-height: 294px;
  background: url("/assets/home/mobile/create-and-share.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: b;
}

.header_herobanner__content {
  width: 100%;
  min-height: 475px;
  background-color: $black;
  grid-area: a;
}

.header_herobanner__content_rectangle {
  position: relative;
  left: 33px;
  width: 128px;
  height: 6px;
  background: linear-gradient(
    45deg,
    rgba(255, 197, 147, 1) 0%,
    rgba(188, 113, 152, 1) 35%,
    rgba(90, 119, 255, 1) 100%
  );
}

.header_herobanner__contents {
  color: $white;
  padding-inline: 33px;
  text-align: start;
  margin: 75px 0;
  & h1,
  button {
    display: flex;
    align-items: center;
    color: white;
    margin: 0;
    & img {
      margin-left: 20px;
    }
  }
  & section {
    margin: 0;
    padding: 0;
  }
  & p {
    color: rgba(255, 255, 255, 0.6);
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

@media screen and (min-width: 768px) {
  .header_herobanner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a a b";
  }
  .header_herobanner__picture {
    min-height: 650px;
    background: url("/assets/home/tablet/create-and-share.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .header_herobanner__content_rectangle {
    left: 0;
    width: 6px;
    height: 304px;
  }

  .header_herobanner__content {
    display: flex;
    align-items: center;
  }

  .header_herobanner__contents {
    &h1 {
      font-size: 40px;
    }
    & p {
      margin: 50px 0;
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header_herobanner {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "a a a a a b b b b b b b";
  }
  .header_herobanner__picture {
    min-height: 650px;
    background: url("/assets/home/desktop/create-and-share.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .header_herobanner__contents {
    padding-inline: 125px;
  }
}
