.list_icones {
  padding: 60px 0 60px;
}
.list_icones,
.list_icones__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & h3 {
    font-size: 18px;
  }
  & p {
    font-size: 15px;
  }
}

.list_icones {
  gap: 60px 0;
}
.list_icones__item {
  width: 320px;
}

@media screen and (min-width: 768px) {
  .list_icones {
    gap: 80px 0;
    padding: 120px 0 120px;
  }
  .list_icones__item {
    width: 457px;
  }
}

@media screen and (min-width: 1440px) {
  .list_icones {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .list_icones__item {
    width: 350px;
    height: 236px;
  }
}
