.section_main__item {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-rows: repeat(2, "1fr");
  grid-template-areas:
    "a"
    "b";
}
.section_main__picture {
  grid-area: a;
  & img {
    width: 100%;
    height: 100%;
  }
}

.section_main__content {
  padding: 72px 15px;
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px 0;
}

.section_main__content_title {
  & h2 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 32px;
  }
}

.section_main__content_description {
  color: rgba(0, 0, 0, 0.598);
}

.section_main__content_button {
  & button {
    display: flex;
    align-items: center;
    & img {
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .section_main__item {
    grid-template-rows: repeat(1, "1fr");
    grid-template-columns: repeat(3, "1fr");
    grid-template-areas: "a b b";
    gap: 0 48px;
    height: 600px;
  }

  .section_main__item_reverse {
    display: grid;
    grid-template-rows: repeat(1, "1fr");
    grid-template-columns: repeat(3, "1fr");
    grid-template-areas: "b b a";
    gap: 0 48px;
    height: 600px;
  }

  .section_main__content {
    width: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .section_main__content_title {
    & h2 {
      font-size: 40px;
    }
    .section_main__picture {
      min-width: 600px;
    }
  }
  .section_main__picture {
    & img {
      min-width: 273px;
      height: 600px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .section_main__item {
    grid-template-rows: repeat(1, "1fr");
    grid-template-columns: repeat(12, "1fr");
    grid-template-areas: "a a a a a b b b b b b b";
    gap: 0 48px;
  }

  .section_main__item_reverse {
    display: grid;
    grid-template-rows: repeat(1, "1fr");
    grid-template-columns: repeat(12, "1fr");
    grid-template-areas: "b b b b b b b a a a a";
    gap: 0 48px;
  }
}
