@import "/src/app/styles/variables";
.footer {
  background: $black;
  padding: 50px 0;
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(6, "1fr");
  grid-template-areas:
    "a"
    "b"
    "c"
    "."
    "."
    "d"
    "e";
}

.footer_logo {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_socials {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;
  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 0 7.5px;
    width: 100%;
    margin: auto;
    padding: 0;
    & li {
      margin-inline: 5.5px;
      transition: 300ms ease-in;
      filter: brightness(0) invert(1);
    }
    & li:hover {
      transition: 300ms ease-out;
      filter: none;
    }
  }
}

.footer_links {
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  & ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin: auto;
    padding: 0;
    &li {
      margin: 10px 0;
    }
    & a {
      color: white;
      font-size: 15px;
      letter-spacing: 2px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.footer_button {
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: center;
  & button {
    color: white;
    & img {
      margin-left: 20px;
    }
  }
}

.footer_copyright {
  grid-area: e;
  color: rgba(255, 255, 255, 0.502);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-inline: 40px;
    grid-template-columns: repeat(2, "1fr");
    grid-template-rows: repeat(4, "1fr");
    grid-template-areas:
      "a d"
      "c ."
      ". ."
      "b e";
  }
  .footer_logo,
  .footer_links ul,
  .footer_socials ul {
    justify-content: flex-start;
  }

  .footer_button {
    justify-content: flex-end;
  }
  .footer_copyright {
    text-align: end;
  }
  .footer_links {
    & ul {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 65px 165px;
    grid-template-columns: repeat(12, "1fr");
    grid-template-rows: repeat(2, "1fr");
    gap: 65px 60px;
    grid-template-areas:
      "a a . c . . . . . . d d"
      "b b . c . . . . . e e e";
  }
  .footer_links ul {
    flex-direction: column;
  }
}
