.list_images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, "1fr");
  grid-template-rows: repeat(1, "1fr");
}

.list_images__item {
  position: relative;
  padding: 0;
  margin: 0;
  height: 375px;
}

.list_images__item_cover img {
  width: 100%;
  height: 375px;
}

.list_images__item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 375px;
  width: 100%;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: end;
  justify-content: start;
}

.list_images__item_overlay:hover {
  transition: 0.5s ease;
  opacity: 0;
  background: transparent;
}

.list_images__item_content {
  width: 100%;
  padding-bottom: 30px;
  padding-inline: 15px;
  & section {
    width: 100%;
  }
  & h3 {
    color: white;
    padding: 0;
    margin: 0;
  }
  &p {
    padding: 0;
    margin: 0;
  }
  & hr {
    margin: 20px 0;
  }
  & button {
    padding: 0;
    margin: 0;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & img {
      height: 14px;
      width: 43px;
    }
  }
}

@media screen and (min-width: 768px) {
  .list_images {
    grid-template-columns: repeat(2, 1fr);
  }

  .list_images__item {
    display: inline;
  }

  .list_images__item,
  .list_images__item_cover img,
  .list_images__item_overlay {
    width: 100%;
    height: 500px;
  }

  .list_images__item_content {
    & h3 {
      font-size: 18px;
    }
    & p {
      font-size: 13px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .list_images {
    grid-template-columns: repeat(4, 1fr);
  }

  .list_images__item,
  .list_images__item_cover img,
  .list_images__item_overlay {
    width: 100%;
    height: 500px;
  }

  .list_images__item_cover {
    transition: 0.5s ease;
  }

  .list_images__item_cover:hover {
    transition: 0.5s ease;
    position: relative;
    bottom: 25px;
  }

  .hover {
    margin-top: -5px;
    width: 100%;
    height: 6px;
    background: linear-gradient(
      45deg,
      rgba(255, 197, 147, 1) 0%,
      rgba(188, 113, 152, 1) 35%,
      rgba(90, 119, 255, 1) 100%
    );
  }
}
